.heading {
  color:black;
  font-family: sans-serif;	
  display: flex;
  justify-content: center;
  font-weight: 100 ;
  font-size: xx-large;
  font-weight: 100;
}

.controlForm {
  display: flex;
  justify-content: space-around;
}

.filter {
  display: flex;
}

.cities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50  px;
  border-radius: 50%;
  background-color: grey;
}

.card {
  padding: 50px;
  margin: 50px;
  background-color: #EEEDED;
  height:50px;
  width: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.notFound{
  
}
